@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,400');
* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 1px solid transparent;
}
.montserrat-normal-black-48px {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 48px;
}
.montserrat-regular-normal-black-20px {
  color: black;
  font-family: 'Montserrat-Regular', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tool {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1080px;
  padding: 34px 0;
  width: 1920px;
}
.tool .auto-flex-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  justify-content: flex-start;
  margin-right: 1.0px;
  min-width: 1793px;
  width: auto;
}
.tool .home-157 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-left: 371px;
  min-height: 31px;
  text-align: center;
  width: 115px;
}
.tool .how-to-use-158 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-left: 44px;
  min-height: 31px;
  text-align: center;
  width: 132px;
}
.tool .icon-packs-1510 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-left: 34px;
  min-height: 31px;
  text-align: center;
  width: 115px;
}
.tool .line-1 {
  background-color: transparent;
  height: 0px;
  left: 34px;
  position: absolute;
  top: 28px;
  width: 50px;
}
.tool .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 970px;
  margin-top: 26px;
  position: relative;
  width: 1920px;
}
.tool .overlap-group1-fhuxN3 {
  background-color: transparent;
  flex-shrink: 0;
  height: 31px;
  margin-left: 20px;
  position: relative;
  width: 115px;
}
.tool .rectangle-2 {
  background-color: transparent;
  height: 969px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.tool .rectangle-4 {
  background-color: white;
  height: 110px;
  left: 0px;
  position: absolute;
  top: 860px;
  width: 1920px;
}
.tool .search-icon {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  justify-content: flex-start;
  margin-left: 607px;
  padding: 3px 3.1px;
  width: 50px;
}
.tool .span1-JBSe18 {
  color: rgba(0,0,0,1.0);
  font-family: 'Montserrat-Regular', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.tool .span2-JBSe18 {
  color: rgba(0,0,0,1.0);
  font-family: 'Montserrat-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.tool .this-is-wh-ment-11134 {
  background-color: transparent;
  height: auto;
  left: 501px;
  position: absolute;
  text-align: center;
  top: 207px;
  width: 920px;
}
.tool .tool-159 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 115px;
}
.tool .vector-OIaczQ {
  background-color: transparent;
  flex-shrink: 0;
  height: 44px;
  width: 43px;
}
.tool .vector-fhuxN3 {
  background-color: transparent;
  flex-shrink: 0;
  height: 50px;
  width: 187px;
}