@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.iphone-x {
    position: relative;
    margin: 40px auto;
    width: 360px;
    height: 780px;
    background-color: #7371ee;
    background-image: url("https://papers.co/wallpaper/papers.co-bj42-apple-iphone-ios13-background-orange-art-41-iphone-wallpaper.jpg");
    background-size: 361px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
    transform: scale(.9);
    z-index: 1;
}
  
.iphone-x:before,
.iphone-x:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
  /* home button indicator */
.iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
  
  /* frontal camera/speaker frame */
.iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
    z-index: 1;
}
  
i,
b,
span {
    position: absolute;
    display: block;
    color: transparent;
    z-index: 1;
}
  
/*speaker*/
i {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
    }

/*camera*/
b {
    left: 10%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}

b:after {
  content: '';
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}


.app-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 9px;
    margin-top: 0px;
    padding: 30px 0 50px 0;
    width: 100%;
    border-radius: 40px;
}

.app {
    position: relative;
    width: 64px;
    margin: 11px;
}

.app-close {
    position: absolute;
    background: gray;
    color: #000000;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
  -webkit-appearance: none;
}

.wiggle {
    animation: wiggle .3s infinite;
}

.icon {
    border-radius: 20%;
    width: 70px;
    height: 70px;
}

.icon-label {
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



#inner{
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}