/* Global */

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--licorice);
    color: darkgray;
    font-family: 'Overpass-Regular', Helvetica, Arial, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 100vw;
}

a,
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: gray;
    transition: fade .4s ease;
    cursor: pointer;
}

.home,
.how-to,
.installer,
.icon-packs {
    position: absolute;
    transition: all .8s ease;
}

.hidden {
    transform:translate(9999px);
    opacity: 0;
}

.active {
    text-decoration: underline;
    text-decoration-color: var(--eastern-blue);
    text-decoration-thickness: 3px;
}

.page-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* end Global */

/* Background */

.background-left,
.background-right {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: -1;
}

.background-left {
    left: 0;
    bottom: 0;
}

.background-right {
    right: 0;
    top: 0;
}

/* end Background */

/* Top */

.top-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 30px;
}

.logo-wrap {
    font-size: 32px;
    color: var(--eastern-blue);
    padding-left: 100px;
}

.nav-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
    font-family: 'Maven Pro-Regular', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: 400;
    margin:auto;
}

.nav-link {
    white-space: nowrap;
}

/* end Top */

/* Messages */

.error-wrap,
.message-wrap {
    text-align: center;
    padding: 1px;
}

.error-wrap {
    background-color: #AA0000;
}

.message-wrap {
    background-color: #007700;
}

/* end Messages */

/* Home */

.home {
    padding-top: 200px;
    padding-left: 5vw;
}

.page-title {
    color: var(--quill-gray);
    font-size: 48px;
    font-weight: 700;
}

.page-paragraph {
    width: 40%;
    font-size: 24px;
    padding: 60px 0;
}

.try-button {
    background-color: var(--eastern-blue);
    color: white;
    font-size: 24px;
    font-weight: 600px;
    height: 58px;
    width: 241px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.try-button:hover {
    background-color: var(--eastern-blue-2);
}

/* end Home */

/* How To */

.how-to {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
}

.video-wrap {
    display: flex;
    flex-flow: column;
}

/* end How To */

/* iOS Themer */

.installer {
    display: flex;
    flex-flow: row wrap;
    width: 80vw !important;
}

.batch-description {
    display: inline-block;
    font-size: 1.5em;
    padding: 4px 20px 20px 20px;
}

.code {
    white-space: nowrap;
    color: lightgreen;
}

.app-type-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.app-type-label {
    white-space: nowrap;
}

.app-type {
    display: inline-block;
    white-space: nowrap;
    padding: 4px;
    cursor: pointer;
}

.form-container,
.phone-container,
.download-container {
    width: 40em;
}

.form-container,
.download-container {
    padding-top: 60px;
    padding-bottom: 20px;
}

.form-container {
    height: 600px;
}

.download-container {
    height: 800px;
}

.phone-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: center;
    height: 800px;
}

.forms-wrap {
    height: 500px;
}

.form-fieldset {
    position: absolute;
    margin: 0;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 500px;
}

.form-field-group {
    margin-bottom: 1em;
}

.form-iphone-switch,
.form-edit-switch {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3em;
    position: relative;
}

.form-field-label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.form-file {
    width: 200px;
    height: 200px;
    border: 4px dashed #ffffff;
    margin: auto;
}

.form-field-file {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-file-text {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -100px;
}

.form-field-input,
.form-field-select {
    display: inline-block;
    padding: .5em .6em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    width: 200px;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.form-button-wrap {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.form-field-button {
    background-color: #0078e7;
    color: #ffffff;
    padding: .5em 1em;
    border: transparent;
    border-radius: 2px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: button;
    transition: all .2s ease;
}

.form-field-button:hover {
    background-color: #1189f7;
}

.list {
    counter-reset: section;
}

.list-item {
    list-style-type: none;
    position: relative;
}

.list-item::before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
}

.step-wrap {
  text-align: center;
  margin: 10px;
}


.step-image {
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
}

/* end iOS Themer */

.footer {
    background-color: var(--licorice);
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    opacity: .8;
}

.footer-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.donate-wrap,
.footer-note {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

/* Portrait and Landscape */
@media only screen
    and (min-device-width: 414px)
    and (max-device-width: 896px)
    and (-webkit-min-device-pixel-ratio: 3) {
    .home,
    .how-to,
    .installer,
    .icon-packs {
        padding-top: 0;
        padding-left: 5vw;
    }

    .page-title,
    .page-paragraph {
        width: 80vw;
    }

    .nav-wrap {
        flex-flow: column;
        align-items: flex-end;
        padding: 30px;
    }

    .video {
        width: 100%;
        height: auto;
    }

    .form-fieldset {
        width: 80vw;
    }

    .form-field-input,
    .form-field-select {
        width: 120px;
    }

    .phone-container {
        margin-top: 40px;
    }

    .download-container {
        width: 95vw;
    }

    .footer {
        flex-flow: column;
        width: 90vw;
    }

    .footer-left {
        display: none;
    }
}

:root {
  --eastern-blue: rgba(37, 153, 161, 1.0);
  --eastern-blue-2: rgba(60, 190, 200, 1.0);
  --licorice: rgba(19, 19, 19, 1.0);
  --quill-gray: rgba(210, 210, 210, 1.0);
}
