*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e64b99;
    background-image: linear-gradient(to bottom right, #2d21ab, #e64b99);
    background-repeat: no-repeat;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    transition: all .4s ease;
}

.hidden {
    display: none;
}

.active {
    border: 3px solid lightblue;
    border-radius: 10px;
}

.page-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.header-wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.instructions-page-wrap {
    height: 100vh;
}

.instructions-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}

.instructions {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.2em;
    padding-top: 10px;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-label {
    font-size: 1em;
}

.menu-icon {
    font-size: 1.5em;
    padding-left: 10px;
}

.error-wrap {
    text-align: center;
    background-color: #CC0000;
    padding: 1px;
}

.batch-description {
    display: inline-block;
    font-size: 1.5em;
    padding: 4px 20px 20px 20px;
}

.code {
    white-space: nowrap;
    color: lightgreen;
}

.app-type-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.app-type-label {
    white-space: nowrap;
}

.app-type {
    display: inline-block;
    white-space: nowrap;
    padding: 4px;
    cursor: pointer;
}

.form-container,
.phone-container,
.download-container {
    width: 40em;
}

.form-container,
.download-container {
    padding-top: 60px;
    padding-bottom: 20px;
}

.phone-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: center;
    height: 800px;
}

.form-fieldset {
    margin: 0;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form-field-group {
    margin-bottom: 1em;
}

.form-iphone-switch,
.form-edit-switch {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3em;
    position: relative;
}

.form-field-label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.form-file {
    width: 200px;
    height: 200px;
    border: 4px dashed #ffffff;
    margin: auto;
}

.form-field-file {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-file-text {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -100px;
}

.form-field-input,
.form-field-select {
    display: inline-block;
    padding: .5em .6em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    max-width: 140px;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.form-button-wrap {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.form-field-button {
    background-color: #0078e7;
    color: #ffffff;
    padding: .5em 1em;
    border: transparent;
    border-radius: 2px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: button;
    transition: all .2s ease;
}

.form-field-button:hover {
    background-color: #1189f7;
}

.list {
    counter-reset: section;
}

.list-item {
    list-style-type: none;
    position: relative;
}

.list-item::before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
}

.step-wrap {
  text-align: center;
  margin: 10px;
}


.step-image {
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
}

.footer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    font-size: 1.2em;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.donate-wrap,
.footer-note {
    display: flex;
    align-items: center;
    padding: 20px;
}

.donate-label {
    display: flex;
    cursor: pointer;
    height: 30px;
    align-items: center;
    margin-right: 3px;
}

.affiliates-wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}

.affiliate-list {
    width: auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(209, 202, 161, .3);

}

.affiliate-wrap {
    margin: 10px 0 10px 50px;
}

/* Firefox is weird... */
/*@supports (-moz-appearance:none) {
    .donate {
        transform: translate(-110px, 20px);
    }    
}*/

.donate-note{
    width: 220px;
    text-align: center;
}

.contact {
    margin-right: 10px;
}

/* Portrait and Landscape */
@media only screen
    and (min-device-width: 414px)
    and (max-device-width: 896px)
    and (-webkit-min-device-pixel-ratio: 3) {
    html, body, .page-wrap {
        width: 100vw;
    }

    .page-wrap {
        align-items: center;
        flex-flow: column wrap;
    }

    .header {
        width: 90vw;
    }

    .app-types {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .menu-icon {
        font-size: 1em;
    }

    .affiliate-list {
        width: 90%;
    }

    .instructions-wrap {
        flex-flow: column wrap;
        align-items: center;
    }

    .batch-description {
        font-size: 1.1em;
    }

    .footer-row {
        flex-flow: column;
        justify-content: center;
    }

    .form-container,
    .phone-container,
    .download-container {
        width: 75%;
    }

    .form-container,
    .download-container {
        padding-top: 30px;
    }

    .logo {
        width: 90%;
        height: auto;
    }
    .video {
        width: 90%;
        height: auto;
    }
}