*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
    background-color: #e64b99;
    background-image: linear-gradient(to bottom right, #2d21ab, #e64b99);
    background-repeat: no-repeat;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: #4444AA;
    transition: all .2s ease;
}

.page-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.error-wrap {
    text-align: center;
    background-color: #CC0000;
    padding: 1px;
}

.form-container,
.phone-container,
.download-container {
    width: 40em;
}

.form-container,
.download-container {
    padding-top: 60px;
    padding-bottom: 20px;
}

.phone-container {
    display: flex;
    justify-content: center;
}

.app {
    width: 70px;
    margin: 9px;
}

.icon {
    border-radius: 20%;
    width: 70px;
    height: 70px;
}

.label {
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-fieldset {
    margin: 0;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form-field-group {
    margin-bottom: 1em;
}

.form-field-label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.form-file {
    width: 200px;
    height: 200px;
    border: 4px dashed #ffffff;
    margin: auto;
}

.form-field-file {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-file-text {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -100px;
}

.form-field-input,
.form-field-select {
    display: inline-block;
    padding: .5em .6em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    max-width: 200px;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.form-button-wrap {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.form-field-button {
    background-color: #0078e7;
    color: #ffffff;
    padding: .5em 1em;
    border: transparent;
    border-radius: 2px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: button;
    transition: all .2s ease;
}

.form-field-button:hover {
    background-color: #1189f7;
}

.step-list {
    counter-reset: section;
}

.step-item {
    list-style-type: none;
    position: relative;
}

.step-item::before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
}

.step-wrap {
  text-align: center;
  margin: 10px;
}


.step-image {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 30px;
    font-size: 1.2em;
    margin-top: -10px;
}

.donate-form {
    width: 400px;
}

.donate-label {
    display: inline-block;
    cursor: pointer;
    height: 100%;
    vertical-align: middle;
    margin-right: 3px;
}

.donate {
    height: 100%
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .page-wrap {
    flex-flow: column wrap;
  }
  .form-container {
    width: 80%;
  }
}